<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml" xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Банк</title>
    <link rel="stylesheet" th:href="@{/css/style.css}">
</head>
<body>
<a href="/login" class="animated-button1">
    <span></span>
    <span></span>
    <span></span>
    <span></span>
    Вход в личный кабинет
</a>
<a href="/registrationClient" class="animated-button1">
    <span></span>
    <span></span>
    <span></span>
    <span></span>
    Регистрация
</a>
<H1 class="center">Наш банк ведет свою деятельность с 1996 года. За это время из маленького провинциального банка он вырос до одного из крупнейших частных банков страны. По состоянию на февраль 2024 года он входит в ТОП-10 банков по размеру активов. Размещая деньги в нашем Банке, можно не волноваться за их сохранность.

    </H1>
</body>
</html>